body {
  /* font-family: Monaco sans-serif; */
  background: #191919;
}

.card {
  background: #121212;
  color: white;
  border-color: #353c51;
}

nav {
  background: #121212;
  color: white;
}

h3 {
  color: white;
}

.form-group input::placeholder {
  color: white;
}

.form-group input[type="text"] {
  background: #121212;
  border: 2px solid #353c51;
  color: white;
}

input[type="text"]:focus {
  background: #121212;
}

h5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
}
